.description{
	font-style: italic;
}
h1{
	text-transform: uppercase;
	text-align: center;
	padding-top: 1em;
	font-family: starling, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	margin-top: 1px;
	margin-bottom: 2px;
}

h2{
	margin-top: 1em;
	color: rgba(3, 152, 252, .8);
	text-align: center;
	font-family: starling, serif;
	font-weight: 700;
	font-style: normal;
	margin-top: 2px;
	margin-bottom: 2px;
}

h3{
	font-family: helvetica, sans-serif;
	font-weight: 600;
	font-size: 1.5em;
	padding: .5em;
	margin-top: 2px;
	margin-bottom: 2px;
	color: rgba(3, 152, 252, .8);

}

h4{
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	font-family: helvetica, sans-serif;
}

body{
	background-color:rgb(222, 222, 210);
}

p{
	margin-top: 2.5px;
	margin-bottom: 5px;
	font-family: helvetica, sans-serif;
}
ul{
	margin-top: 6px;
	margin-bottom: 6px;
}